.legend {


    &__items {
        display: flex;
        flex-wrap: wrap;
        max-width: 260px;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 4px;
        font-size: 0.8rem;
        width: 100px;
    }

    &__round {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;

        align-items: center;
        justify-content: center;
    }

    &-power {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__small {
            width: 7px;
            height: 7px;
            background-color: gray;
            border-radius: 50%;

        }

        &__item {
            margin: 2px 4px;
        }

        &__large {
            width: 35px;
            height: 35px;
            background-color: gray;
            border-radius: 50%;
        }
    }
}

.res-container {
    .legend {
        max-width: unset;
    }
}

.suncolors {

    // margin-right: 24px;

    
    &__legend {
        max-width: 600px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__legend-mob {
        display: none;
    }

    &__items {
        display: flex;
    }

    // &__item {
    //     display: flex;
    // }

    &__color {
        min-width: 50px;
        height: 20px;
        border: 1px solid #e6e2c1;
       // width: 70%;
    }

    &__color-white {
        min-width: 80px;
        height: 20px;
      //  width: 70%;
        // border: 1px solid #d4d4d4;
        border: 1px solid #e6e2c1;
    }

    &__desc {
        margin-left: 8px;
    }
}

