.edit-overlay {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 110;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.96);
    visibility: hidden;
    opacity: 0;
    transform: scale(1.09);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
    box-sizing: border-box;
  
    &--active {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      z-index: 1040;
    }

  }
  
  
  .body-no-scroll {
    overflow: hidden;
  }

  .cansel-editing {
    padding: 15px;
    cursor: pointer;
    margin-left: 20px;
    border: 1px solid grey;
  }
  

  .form__button {
    padding: 10px;
    cursor: pointer;
    margin-left: 20px;
    border: 1px solid grey;
  }
