.sunoptions, .windoptions {

    padding-top: 30px;
    padding-bottom: 30px;

    &__form {
        display: flex;
        align-items: center;

        &-item {
            padding-left: 10px;
        }

        select {
            height: 40px;
        }

        button {
            height: 40px;
        }
    }

}

@media (max-width: 1040px) {
    .sunoptions, .windoptions {
    
        &__form {
            flex-wrap: wrap;
            
            &-item {
                width: 100%;
                display: flex;
                justify-content: center;
                padding-bottom: 15px;
            }
        }
    
    }
}
  
// @media (max-width: 640px) {
//   .yandex-map {
//     height: 400px;
//   }
// }